.geral {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Distribui o espaço entre o conteúdo principal e o footer */
    align-items: center;
    text-align: center;
  }
  

.header{
    margin-bottom: 100px;
}



.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.botoesJogo{

    display: flex;
    flex-direction: column; /* Faz com que os itens sejam organizados em coluna */
    margin-top: 28px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.botaoFree{
    display: flex;
    flex-direction: column; /* Organiza os filhos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Ajusta o espaçamento entre eles de forma equitativa */
    text-align: center; /* Garante que o texto dentro dos <p> esteja centralizado */
    color: #fff;
    background: linear-gradient(90deg, rgb(255, 0, 214),  rgb(255, 107, 0));
    padding: 0px 20px;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    cursor: pointer;  
    width: 380px;
    margin: 0px 25px 0px 25px;
}

.botaoFree .freemode{
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 32px ;
    margin: 10px 0px;
}

.botaoFree .joguelivre{
    font-family: 'sansita';
    font-size: 20px;
    margin: 10px 0px;
}


.botaoRush{
    display: flex;
    flex-direction: column; /* Organiza os filhos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Ajusta o espaçamento entre eles de forma equitativa */
    text-align: center; /* Garante que o texto dentro dos <p> esteja centralizado */
    font-family: Roboto, sans-serif;
    font-weight: 0;
    color: #ffffff;
    background-color: #5d5f68;
    padding: 0px 20px;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    cursor: pointer;
    height: auto;
    width: 380px;
    margin: 30px 15px 0px 15px;
}


.botaoRush .rushmode{
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 32px ;
    margin: 10px 0px;
}

.botaoRush .joguetimer{
    font-family: 'sansita';
    font-size: 20px;
    margin: 10px 0px;
}